.immt
xhtml
export
html
Makefile
*-blx.bib
*.sref
*.upb
*.sms 
*.upa 
*.fls
*.fdb_latexmk
*.tmp
errors
content
*~
*.omdoc
# all PDFs but those in the PIC directories are generated.
*.pdf
!**/PIC/*.pdf
*.errlog
*.bbl
*.blg
*.out
*.synctex*
*.run.xml
*.thm
*.bak
*.idx
*.ind
*.ilg
*.log
*.toc
*.aux
auto
*.nav
*.snm
*.vrb
all.tex
all.*.tex
*.clog
*.vrb
*.nav
*.snm
relational/*
narration_present_html/*
*.pdflog
.DS_Store
*.ltxlog
